test/test-reports/
test/*.test
test/runtest
libvm68k.la
libvm68kapi.la
remove-potcdate.sed
Makefile
config.status
config.h
libtool
POTFILES
Makefile.in
config.h.in
configure
aclocal.m4
stamp-*
**/Debug/
**/Release/
**/LibrarySupport/
**/.libs/
**/.deps/
**/nbproject/private/
*@quot.po
*@boldquot.po
*.insert-header
*.gmo
*.trs
*.log
*.lo
*.o
*.tvsconfig
*.local
*.cache
*.rej
*.orig
*~
